.footer{
    background-color: rgba(238, 227, 227, 0.479);
    padding: 30px,0;
}
.container{
    max-width:100%;
    margin:auto;
    padding: 70px;
  
}
.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #131885;
    height: 0.09em;
    box-sizing: border-box;
    width: 20%;
    border-radius: 0%;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #000;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #131885;
	padding-left: 8px;
}

.footer-col .social-l a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #131885;
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(255, 253, 253);
    transition: all 0.5s ease;
}

.footer-col .social-l a:hover{
    color: #131885;
    background-color: rgb(255, 255, 255);
    
}
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }