.main{
    padding-left: 30%;
    padding-right: 30%;
}
.ico{
    position: relative;
    width: 100%;
}
.ico img{
    width: 40vw;
}
.ico h2{
    position: absolute;
    width: 100%;
    left: 110%;
    bottom: 40%;
    color: #131885;
    font-size: 40px;
    font-family: proxima-n-w01-reg,sans-serif;
    font-weight: lighter;
}
h3{
    color: #131885;
    font-size: 30px;
    font-family: proxima-n-w01-reg,sans-serif;
    font-weight: bold;
}
p{
    color: #131885;
    font-size: 16px;
    font-family: proxima-n-w01-reg,sans-serif;
    font-weight: inherit;
}
.abt{
    padding-top: 50px;
}
.image{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.image img{
    width: 4%;
}
.bottom{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.bottom a{
    border: 2px solid #131885;
    color:#131885;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: proxima-n-w01-reg,sans-serif;
    transition-duration: 500ms;
}
.bottom a:hover{
    border: 2px solid white;
}