body {
  color: #4d4d4d;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Raleway', sans-serif;
}
.img-box img {
  width: 100%;
  height: 100%;
}
section {
  position: relative;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5;
}
section.active {
  background-color: rgb(252, 252, 252);
}
section .container {
  position: relative;
  width: 900px;
  height: 500px;
  background-color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
section .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
section .img-box {
  position: relative;
  width: 50%;
  height: 100%;
  transition: all 500ms ease-in-out;
}
section .img-box img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
section .form-box {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: white;
  transition: 500ms ease-in-out;
}
section .form-box .top {
  position: absolute;
  top: 14px;
  right: 14px;
}
section .form-box .top p {
  font-size: 13px;
}
section .form-box .top span {
  color: #131885;
  cursor: pointer;
}
section form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user .form-box form .form-control input{
  padding: 10px;
}
section form .form-control:first-child {
  text-align: center;
}
section form .form-control:first-child input {

  border-radius: 5px;
  border: 1px solid #131885;
  padding: 10px 0;
  margin-bottom: 10px;
  text-indent: 1px;
  font-size: 13px;
  outline: none;
}
section form .form-control:first-child input[type="submit"] {
  display: block;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #131885;
  color: white;
  transition: 0.5s;
}
section form .form-control:first-child input[type="submit"]:hover {
  background-color: #131885;
}
section form .form-control:first-child h2 {
  width: 100%;
  font-weight: 400;
  font-size: 26px;
}
section form .form-control:first-child p {
  font-size: 15px;
  margin-bottom: 20px;
}
section form .form-control:first-child span {
  font-size: 13px;
  display: block;
  text-align: right;
  margin-bottom: 20px;
}
section form .form-control:first-child div {
  position: relative;
}
section form .form-control:first-child .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  cursor: pointer;
}
section form .form-control:last-child {
  text-align: center;
}
section form .form-control:last-child p {
  position: relative;
  display: inline-block;
  font-size: 14px;
}
section form .form-control:last-child p::after {
  content: "";
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #ddd;
}
section form .form-control:last-child p::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #ddd;
}
section form .form-control:last-child .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
section form .form-control:last-child .icon {
  cursor: pointer;
}
section form .form-control:last-child .icon:not(:last-child) {
  margin-right: 15px;
}
section .container .signup {
  pointer-events: none;
}
section .container.active .signup {
  pointer-events: initial;
}
section .container .signup .form-box {
  top: 100%;
}
section .container.active .signup .form-box {
  top: 0;
}
section .container .signup .img-box {
  top: -100%;
}
section .container.active .signup .img-box {
  top: 0;
}
section .container .login .form-box {
  top: 0;
}
section .container.active .login .form-box {
  top: 100%;
}
section .container .login .img-box {
  top: 0;
}
section .container.active .login .img-box {
  top: -100%;
}
@media (max-width: 996px) {
  section .container {
    max-width: 400px;
  }
  section .container .img-box {
    display: none;
  }
  section .container .form-box {
    width: 100%;
  }
  section .container.active .login .form-box {
    top: -100%;
  }
}
@media (max-width: 567px) {
  section {
    padding: 0 30px;
  }
}
.title{
    font-size: 60px;
    padding-top: 200px;
    text-transform: uppercase; 
    color:transparent;
    -webkit-text-stroke:2px white;
}
@media (max-width: 600px){
    .title{
        padding-left: 3%;
        padding-right: 3%;
    }
}
@media (max-width: 572px){
    .title{
        padding: auto;
        font-size: 50px;
        -webkit-text-stroke: 1.5px white;
    }
}
@media (max-width: 362px){
    .title{
        padding: auto;
        font-size: 40px;
        -webkit-text-stroke: 1.2px white;
    }
}
.sub-header3{
  height: 55vh;
  width:100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.358),rgba(0, 0, 0, 0.358)),url(https://www.globalcosmeticsnews.com/wp-content/uploads/2022/01/mbappe-sauvage.jpg);
  background-position-x: -20px;
  background-position:0px;
  background-size: cover;
  text-align: center;
  color:white;
}
.footer{
  background-color: rgba(238, 227, 227, 0.479);
  padding: 30px,0;
}
.container{
  max-width:100%;
  margin:auto;
  padding: 70px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 20px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #131885;
  height: 0.09em;
  box-sizing: border-box;
  width: 20%;
  border-radius: 0%;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffff;
  text-decoration: none;
  font-weight: 300;
  color: #000;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #131885;
padding-left: 8px;
}
.footer-col .social-l a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #131885;
  margin: 0px 10px 10px 0px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgb(255, 253, 253);
  transition: all 0.5s ease;
}
.footer-col .social-l a:hover{
  color: #131885;
  background-color: rgb(255, 255, 255);
  
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}
.footer{
  background-color: rgba(238, 227, 227, 0.479);
  padding: 30px,0;
}
ul{
  list-style: none;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 20px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #131885;
  height: 0.09em;
  box-sizing: border-box;
  width: 20%;
  border-radius: 0%;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffff;
  text-decoration: none;
  font-weight: 300;
  color: #000;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #131885;
padding-left: 8px;
}
.footer-col .social-l a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #131885;
  margin: 0px 10px 10px 0px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgb(255, 253, 253);
  transition: all 0.5s ease;
}
.footer-col .social-l a:hover{
  color: #131885;
  background-color: rgb(255, 255, 255);
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Raleway', sans-serif;
}
.cla{
  background-color: #fff;
}
.navbar{
  position:sticky;
  top:0;
  left:0;
  width:100%;
  background: rgb(255, 255, 255);
  z-index:9;
}
.nav{
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}
.brand-logo{
  height: 60px;
  align-items: center;
  display: flex;
}
.links-container{
  width:100%;
  padding: 10px 10vw;
  justify-content: center;
  list-style: none;
  border-top: 1px solid rgb(212, 208, 208);
}
.links-container ul{
  display:flex;
  align-items: center;
  justify-content: center;
}
.links-container ul li a{
  display: block;
  padding: 0.5rem;
  font-weight: 600;
  color: #131885; 
}
.link{
  text-transform: uppercase;
  padding: 0 10px;
  margin:0 5px;
  text-decoration: none;
  font-size: 15px;  
  color:#131885;
  opacity: 0.5;
  transition: .5s;
  letter-spacing: 0;  
}
link:hover {
letter-spacing: 1px;
opacity: 1;
color:#131885;
transition: ease-in;
transition-duration: 0.2s;
text-decoration: underline;
}
button{
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #131885;
  color: aliceblue;
  padding: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;  
}
button:hover{
  background-color: #131885;
}
hr {
  width: 250px;
  height: 3px;
  background-color:#131885;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.slide {
  width: 100%;
  height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(26, 25, 25, 0.5);
}
.slide-1 {
  background-image: url("https://i.f1g.fr/media/madame/704x/sites/default/files/img/2021/12/en-col-roule-pour-le-parfum-eau-sauvage-de-christian-dior-photo-4.jpg");
}
.slide-2 {
  background-image: url("https://www.posterimage.it/wp-content/uploads/2017/03/Dior-Zidane-1.jpg");
}
.slide-3 {
  background-image: url("https://voyage-onirique.com/wp-content/uploads/2022/03/FG0rq4MXMAYQHVq.jpg");
}
.slide-content {
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
  padding: 0 20%;
}
.slide-content h1 {
  font-size: 40px;
  text-transform: uppercase;
}
.slide-content p {
  text-transform: lowercase;
  font-size: 15px;
  margin-bottom: 25px;
  margin-top: 20px;
}
.toggle-button{
  margin-top: 30px;
  position: absolute;
  top: 0%;
  right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  display: none;
  margin-left: .2em;
}
.toggle-button .bar{
  height: 5px;
  width: 100%;
  background-color: #131885;
  border-radius: 10px;
}
@media (max-width: 991px){
  .links-container{
      padding: 12px 1vh;
      height: 50px;
  }
}
@media (max-width: 534px){
  .cla {
      flex-direction: column;
      align-items: flex-start;    
  }
  .toggle-button {
      display: flex;
      margin-left: auto;
  }
  .links-container {
      display: none;
      width: 100%;
      height: 100%;
  }
  .links-container ul {
      width: 100%;
      flex-direction: column;
  }
  .links-container ul li {
      text-align: center;
  }
  .links-container ul li a {
      padding: .5rem 1rem;
  }
  .links-container.active {
      display: flex;
      background-color: white;
  }
}
  .toggle-button{
      position: absolute;
  }   
